<div class="headerplanning container-fluid">
    <div class="row justify-content-center text-center">
        <div class="col-4">
        </div>
        <div class="col-4">
            <div class="h1">Bonjour {{ app.user.prenom }} {{ app.user.nom }}</div>
        </div>
        <div class="col-4">
            <a href="{{ path('app_logout') }}" class="btn btn-danger">Déconnexion</a><br />
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row justify-content-end">
        <div class="decompteheure col-3">
            <div id="totalOfHoursInYear" data-role="isNotAdmin">
                <div class="h2 colorChange">
                    <h2>Total de l'année : <span class="hourHolder"></span> H</h2>
                </div>
                <div class="h2">
                    <h2>Soirs et week-end : <span class="extraHourHolder"></span> H</h2>
                </div>
                <div id="extraHourByCategoriesYear">
                    <!-- generated loop of categories goes here -->
                </div>
            </div>
            {#        <div id="totalOfHoursInMonth" class="col-4">#}
            {#            <div class="h2 colorChange">#}
            {#                Total du mois : <span class="hourHolder"></span>  H#}
            {#            </div>#}
            {#            <div class="h3">#}
            {#                <h2>Soirs et week-end : <span class="extraHourHolder"></span> H</h2>#}
            {#            </div>#}
            {#            <div id="extraHourByCategoriesMonth">#}
            {#                <!-- generated loop of categories goes here -->#}
            {#            </div>#}
            {#        </div>#}
            <div id="totalOfHoursInWeek">
                <div class="h2 colorChange">
                    <h2>Total de la semaine : <span class="hourHolder"></span> H</h2>
                </div>
                <div class="h3">
                    <h2>Soirs et week-end : <span class="extraHourHolder"></span> H</h2>
                </div>
                <div id="extraHourByCategoriesWeek">
                    <!-- generated loop of categories goes here -->
                </div>
            </div>
            <div id="totalByCategories">
                <div class="h3">
                    <span class="hourByCategoryHolder"></span>
                </div>
            </div>
        </div>
        <div id="calendrier" class="col-8">
        </div>
        <div class="listeemploye col-1">
        </div>
    </div>
</div>
