{% extends 'base.html.twig' %}

{% block title %}Editer l'évènement{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row text-center">
            <h1>Modifier un événement</h1>
        </div>
        <div class="row">
                {{ include('calendar/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>
        <div class="row">
                {{ include('calendar/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
