{% extends 'base.html.twig' %}

{% block title %}Planning OPI{% endblock %}

{% block stylesheets %}
    <style>
        #calendrier {
            width: 60%;
            margin: auto;
        }
    </style>
{% endblock %}

{% block body %}

    {% block h1 %}
        <div class="container-fluid">
            <div class="row justify-content-end text-center">
                <div class="col-4">
                    <div class="h1">Bonjour {{ app.user.prenom }}</div>
                </div>
                <div class="col-4">
                    {% if is_granted('ROLE_USER') %}<a href="{{ path('app_logout') }}" class="btn btn-danger">Déconnexion</a>{% endif %}
                </div>
            </div>
        </div>
        <br />
    {% endblock  %}


        <div id="calendrier">
        </div>





{% endblock %}

{% block javascripts %}
    <script>
        window.onload = () => {
            let calendarEl = document.querySelector("#calendrier");
            let calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'fr',
                timeZone: 'Europe/Paris',

                customButtons: {
                    myCustomButton: {
                        text: 'Ajouter un événement',
                        click: function() {
                        window.location.href = "{{ path('calendar_new') }}"
                        }
                    }
                },

                headerToolbar: {
                    start: 'prev,next today dayGridMonth,timeGridWeek',
                    center: 'title',
                    end: 'myCustomButton'
                },
                events: {{ planning|json_encode|raw }},

                eventClick: function(event) {
                    let eventId = event.event._def.publicId;
                    window.location.href = "calendar/" + eventId + "/edit";
                }
            });





            // draggable
            calendar.on('eventChange', (e) => {
                let url = `/api/${e.event.id}/edit`;
                let donnees = {
                    "title": e.event.title,
                    "description": e.event.extendedProps.description,
                    "start": e.event.start,
                    "end": e.event.end,
                    "backgroundColor": e.event.backgroundColor,
                    "borderColor": e.event.borderColor,
                    "textColor": e.event.textColor,
                    "allDay": e.event.allDay
                };
                let xhr = new XMLHttpRequest;
                xhr.open("PUT", url);
                xhr.send(JSON.stringify(donnees));
            });

            calendar.render();
        };
    </script>
{% endblock %}
